<link rel="stylesheet" href="/components/header/header.css">
<header id="header">
    <div class="header-container">
        <a href="/index.html" class="logo">
            <img src="/images/logo/logo-type-bk.svg" alt="힉스터즈 로고">
        </a>
       <button class="btn-menu">
            <img src="/images/icons/icon-menu-bk.svg" alt="메뉴 열기">
       </button>
    </div>
</header>
<nav>
    <ul>
        <li class="menu">
            <a href="/index.html"> 
                <p class="menu-title">
                    Archive
                </p>
                <div class="contents-num">
                    <img src="/images/icons/icon-parenthesis-wt.svg" alt="괄호 열고">
                    <p>36</p>
                    <img class="end" src="/images/icons/icon-parenthesis-wt.svg" alt="괄호 닫고">
                    <img src="/images/icons/icon-arrow-wt.svg" alt="아카이브 메뉴 이동">
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li class="menu">
            <a href="/about.html"> 
                <p class="menu-title">
                    About
                </p>
                <img src="/images/icons/icon-arrow-wt.svg" alt="어바웃 메뉴 이동">
            </a>
        </li>
        <li class="divider"></li>
        <li class="menu">
            <a href="/contact.html"> 
                <p class="menu-title">
                    Contact
                </p>
                <img src="/images/icons/icon-arrow-wt.svg" alt="콘택트 메뉴 이동">
            </a>
        </li>
        <li class="divider"></li>
        <li class="menu">
            <a href="#none"> 
                <p class="menu-title">
                    Gacha!
                </p>
                <img src="/images/icons/icon-gacha-wt.svg" alt="랜덤 메뉴 이동">
            </a>
        </li>
    </ul>
</nav>