header{
    width: 100%;
    height: 64px;
    padding: 0 20px;
    position: fixed;
    z-index: 3;
}
.header-container{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    overflow: hidden;
}
.header-container *{
    flex-shrink: 0;
}
.logo{
    width: auto;
    height: 20px;
}
header.hideLogo .logo img{
    display: none;
}
header.bg{
    background-color: white;
}
.btn-menu > img{
    width: 32px;
    height: 32px;
}
nav{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(80px);
    z-index: 2;
    padding: 0px 20px 64px;
    display: flex;
}
nav.close{
    display: none;
}
li.menu a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    height: 56px;
}
nav p.menu-title{
    color: white;
    font-size: 40px;
}
nav li.divider{
    width: 100%;
    height: 2px;
    background-color: white;
}
nav li{
    margin-bottom: 16px;
}
nav ul{
    align-self: flex-end;
    width: 100%;
}
li.menu img{
    width: auto;
    height: 32px;
    flex-shrink: 0;
}
.contents-num{
    display: flex;
    align-items: center;
}
.contents-num p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.contents-num img.close{
    transform: rotate(180deg);
    margin-right: 8px;
}