@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}
:root {
  --black: #1a1a1a;  
  --gray-600: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PretendardVariable', sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    color: var(--black);
  }
  
  html, body {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input, button, select, textarea {
    background-color: transparent;
    font: inherit;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    cursor: pointer;
  }