<link rel="stylesheet" href="/components/card/card.css">
<li class="contents-card default">
    <div class="thumb">
        <p class="quote"></p>
    </div>
    <ul class="contents-info">
        <li class="contents-title">
            <p class="title value"></p>
            <img src="/images/icons/icon-arrow-bk.svg" alt="자세히 보기">
        </li>
        <li class="divider"></li>
        <li class="contents-detail">
            <p class="writer lable">Hiccuped by</p>
            <p class="writer value"></p>
        </li>
        <li class="contents-detail">
            <p class="theme lable">About</p>
            <p class="theme value"></p>
        </li>
        <li class="contents-detail">
            <p class="series-num lable">Series No.</p>
            <p class="series-num value"></p>
        </li>
    </ul>
</li>