<link rel="stylesheet" href="/components/card/card.css">
<li class="contents-card default" role="article">
    <div class="thumb" role="img" aria-label="콘텐츠 썸네일">
        <p class="quote" aria-label="인용구"></p>
    </div>
    <ul class="contents-info" role="list">
        <li class="contents-title">
            <p class="title value" aria-label="제목"></p>
            <div class="card-arrow">
                <div data-svg="icons/icon-arrow" role="img" aria-label="자세히 보기"></div>
            </div>
        </li>
        <li class="divider" role="separator"></li>
        <li class="contents-detail">
            <p class="writer lable">Hiccuped by</p>
            <p class="writer value" aria-label="작성자"></p>
        </li>
        <li class="contents-detail">
            <p class="theme lable">About</p>
            <p class="theme value" aria-label="주제"></p>
        </li>
        <li class="contents-detail">
            <p class="series-num lable">Series No.</p>
            <p class="series-num value" aria-label="시리즈 번호"></p>
        </li>
    </ul>
</li>