<link rel="stylesheet" href="/components/card/card.css">
<li class="contents-card anthology">
    <div class="thumb">
        <p class="quote">
            짧지만 구미 당기는 멋진 구절을 적어주세요.
        </p>
    </div>
    <ul class="contents-info">
        <li class="contents-title">
            <p class="title value">
                앤솔로지 작품
            </p>
            <img src="/images/icons/icon-arrow-bk.svg" alt="자세히 보기">
        </li>
        <li class="divider"></li>
        <li class="contents-detail">
            <p class="writer lable">Hiccuped by</p>
            <p class="writer value">작가명</p>
        </li>
        <li class="contents-detail">
            <p class="theme lable">About</p>
            <p class="theme value">Anth. 공통 주제</p>
        </li>
    </ul>
</li>
<style>
    .thumb{
        background-image: url(/images/thmb/thumb-test.jpg);
    }
</style>