<ul>
    <li class="hicster-name">
        <p></p>
    </li>
    <li class="hicster-copy">
        <p></p>
    </li>
    <li class="contact-btn">
        <a href="mailto:example@example.com">
            <p>Contact</p>
            <div data-svg="icons/icon-mail" alt="이메일"></div>
        </a>
    </li>
</ul>
<div class="profile">
    <svg width="128" height="112" viewBox="0 0 128 112" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <clipPath id="profile-mask">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M128 56C128 15.0943 98.2057 0 63.6343 0C29.0629 0 0 15.0943 0 56C0 96.9057 29.0629 112 63.6343 112C98.2057 112 128 96.9057 128 56Z" />
            </clipPath>
        </defs>
        
        <image
            href=""
            width="128"
            height="112"
            clip-path="url(#profile-mask)"
            preserveAspectRatio="xMidYMid slice"
        />
    </svg>
</div>